.box {
	
	border: 3px solid black;
	margin: auto;
	height: 200px;
    width: 200px;
    background-color: beige;
	font-size: 150px;
	text-align: center;
}

#full-box{
	margin: auto;
}

#press-me{
	text-align: center
}

body {
	background-color: ivory;
	
}